<div class="row">
    <div class="col-md-12">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" (click)="generaGrafico('dia')">Día</button>
            <button type="button" class="btn btn-secondary" (click)="generaGrafico('mes')">Mes</button>
            <button type="button" class="btn btn-secondary" (click)="generaGrafico('año')">Año</button>
        </div>
        <div style="display: block;">
            <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
        </div>
    </div>

</div>